body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  .container {
    text-align: center;
    padding: 40px;
    margin-top: 5%;
  }

  h1 {
    margin-bottom: 20px;
  }

  #visualization {
    width: 90%;
    margin: 0 auto;
    height: 300px;
    margin-bottom:  20px;
    display: flex;
    align-items: flex-end;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  .bar {
    background-color: #3498db;
    width: 10px;
    margin: 0 1px;
  }

  #algo-select {
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  button:hover {
    background-color: #27ae60;
  }

  .MESSAGE {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
  }
  
  .hidden {
    display: none !important;
  }

  .rangeContainer{
    display: flex;
    flex-direction: column;
    top: 20px;
    position: absolute;
    right: 20px;
    width: 20%;
  }

  .danger{
    color: red;
  }